body {
    // background-image:url(https://source.unsplash.com/random/1600x900);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    animation-delay: 0s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.container {
    background: #fff;
    opacity: 1;
}

@keyframes fadein {
    0% { opacity: 1; }
    100% { opacity: 0.9; }
}

